@import "tailwindcss";

.btn-blue {
    @apply bg-blue-500 uppercase text-white no-underline py-2 px-6 rounded-full py-2;
}

.signup-banner {
    background-image: radial-gradient(circle at 0 100%, #6585b0, #2e4469);
}

.container {
    height: 600px;
}

body {
    font-family: 'Sansita', 'Open Sans', sans-serif;
}
